.overlay {
    background-color: rgba(243, 243, 243, 0.9);
    height: 527px;
    width: 470px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    margin: auto;
    z-index: 10;
    

    &__transition {
        transition: all 0.3s ease-out;
    }
}